<div class="container mt-3 p-5 bg-white border shadow" id="tasks_form">
  <div class="d-flex justify-content-center">
    <div class="col-6">
      <h1 class="mb-3">Todo List</h1>

      <%= turbo_frame_tag "new_category" do %>
        <%= link_to "Criar uma categoria", new_category_path, data: { turbo_stream: true, turbo_frame: 'new_category' } %>
      <% end %>

      <%= turbo_frame_tag "show_categories" do %>
        <%= render "categories/categories", categories: Category.all %>
      <% end %>

      <%= turbo_frame_tag "new_task_form" do %>
        <%= render "tasks/form", task: Task.new %>
      <% end %>

      <%= turbo_frame_tag "tasks" do %>
        <%= render @tasks %>
      <% end %>

      <div class="d-flex justify-content-between mt-3">
        <%= link_to "Todas as Tarefas", root_path, data: { turbo_frame: "tasks" }, class: "btn btn-secondary me-2" %>
        <%= link_to "Tarefas Completas", root_path(filter: "completed"), data: { turbo_frame: "tasks" }, class: "btn btn-primary me-2" %>
        <%= link_to "Tarefas Incompletas", root_path(filter: "incompleted"), data: { turbo_frame: "tasks" }, class: "btn btn-warning me-2" %>
        <%= link_to "Deletar as Tarefas Completas", delete_completed_tasks_tasks_path, data: { turbo_confirm: "Tem certeza?", turbo_frame: :delete_completed_tasks, turbo_method: :delete }, class: "btn btn-danger me-2" %>
      </div>
  </div>
</div>